


<!-- FOOTER  -->
<footer class="page-footer font-small bg-dark text-white pt-4">
  <div class="container text-left text-md-left">
    <div class="row">
      <div class="col-md-7 mt-md-0 mt-3">
        <span>STAY IN TOUCH,</span><h5 class="text-uppercase"> SUBSCRIBE TO OUR NEWSLETTER</h5>
        <h3>COOKSWORTH RESTAURANT</h3>
        <p>
          801 West Georgia Street, Vancouver, BC <br>  
          V6C 1P7  Canada <br>
          Located at the Rosewood Hotel Georgia <br>
        </p>
        <p>
          T: 604.673.7000 | info@cooksworthrestaurant.com
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-1">
      <div class="col-md-5 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Connect With Us: </h5>
        <span class="social-links p-1"><a href="#"><i class="fab fa-twitter-square fa-2x text-white"></i></a></span>
        <span class="social-links p-1"><a href="#"><i class="fab fa-facebook-square fa-2x text-white"></i></a></span>
        <span class="social-links p-1"><a href="#"><i class="fab fa-instagram-square fa-2x text-white"></i></a></span>
        <span class="social-links p-1"><a href="#"><i class="fab fa-linkedin fa-2x text-white"></i></a></span>

        <div class="mt-3">
          <a href="#" class="px-1 footer-link">HOME</a>
          <a href="#" class="px-1 footer-link">UPCOMING EVENTS</a>
          <a href="#" class="px-1 footer-link">BLOG</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center pt-1 pb-4">© 2021 Copyright:
    <a class="footer-link" href="/"> Cooksworth </a>
  </div>
</footer>
</body>
</html>