<%- include ('../partials/header') %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container">
        <div><a style="text-decoration: none;" href="./bar"> BAR </a></div>
        <div><a style="text-decoration: none;" href="./wine"> WINE </a></div>
        <div><a style="text-decoration: none;" href="./beer"> BEER </a></div>
        <div><a style="text-decoration: none;" href="./cocktails"> COCKTAILS </a></div>
        <i class="fas fa-utensils fa-5x py-4"></i>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <div class="container-fluid" id="health">
        <h2>Cooksworth Cocktail Bar</h2> <hr/>
          <div class="row">
            <div class="col-12 col-md-6">
              <p>
                Our thoughtful bar program reflects the personality of our bar team: nostalgic, modern and a little bit cheeky. Our passionate bartenders shake and stir expertly crafted cocktails that run the gamut from the pre-Prohibition era to modern day. Honouring the integrity of every cocktail through technique and execution is paramount to the foundation of both the team and the program. We use the finest, freshest ingredients to craft seasonal beverages that are beautifully complemented by our ever-evolving craft beer menu, extensive spirits portfolio and carefully-sourced, award-winning wine program. The elegant room features the distinct and eye-catching “Big Love Diamond Dust” by British artist Damien Hirst, alongside a striking handcrafted ceiling, paired with vintage leather banquettes and a Spanish granite bar. Each member of the Cooksworth Cocktail Bar team has an ardent and meticulous passion for cocktail craft and is dedicated to providing a warm welcome in a lively and laid-back setting.
              </p> <br/>

            </div>
            <div class="col-12 col-md-6">
              <img src="../images/banners/bar1.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/bar2.jpg" class="mt-4" alt="kitchen image" width="100%">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>