<%- include ('../partials/header') %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container">
        <div><a style="text-decoration: none;" href="./bar"> BAR </a></div>
        <div><a style="text-decoration: none;" href="./wine"> WINE </a></div>
        <div><a style="text-decoration: none;" href="./beer"> BEER </a></div>
        <div><a style="text-decoration: none;" href="./cocktails"> COCKTAILS </a></div>
        <i class="fas fa-utensils fa-5x py-4"></i>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <div class="container-fluid" id="health">
        <h2>Beers Available</h2> <hr/>
          <div class="row">
            <div class="col-12 col-md-6">
              <i>
                from 8:00 pm – 12:00 pm
                Seating is available at a first come
              </i> <br/><br/>

              <h3>House Favourites</h3>
              <p>
                <strong>parallel 49</strong>, craft lager </br>
                355ml 8 </br>

                <strong>modelo especial,</strong> lager </br>
                355ml 9.5 </br>

                <strong>field house brewing co.,</strong> salted black porter </br>
                355ml 9.5 </br>

                <strong>strange fellows,</strong> jongleur wit </br>
                437ml 14 </br>

                <strong>superflux hazy,</strong> ipa </br>
                437ml 14 </br>
              </p> <br/>
              
              <h3>Zero Proof Beers</h3>
              <p>
                <strong>provence iced tea</strong><br/>
                tahitian vanilla, okanagan lavender, assam cold brew  7<br/>

                <strong>thai lemonade</strong><br/>
                cilantro, fresh lime, almond syrup, ginger beer  7<br/>

                <strong>yuzu iced tea</strong><br/>
                pomegranate, honey, yuzu, hathikuli estate cold brew  7<br/>
              </p> <br/>

            </div>
            <div class="col-12 col-md-6">
              <img src="../images/banners/beer.jpg" class="mt-4" alt="kitchen image" width="100%">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<%- include ('../partials/footer') %>