<%- include ('../partials/header') %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container">
        <div><a style="text-decoration: none;" href="./bar"> BAR </a></div>
        <div><a style="text-decoration: none;" href="./wine"> WINE </a></div>
        <div><a style="text-decoration: none;" href="./beer"> BEER </a></div>
        <div><a style="text-decoration: none;" href="./cocktails"> COCKTAILS </a></div>
        <i class="fas fa-utensils fa-5x py-4"></i>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <div class="container-fluid" id="health">
        <h2>Cocktails Available</h2> <hr/>
          <div class="row">
            <div class="col-12 col-md-6">
              <i>
                from 4:00 pm – 6:00 pm
                Seating is available at a first come, first served basis during Cocktail Hour
              </i> <br/><br/>

              <h3>Classic Perfection</h3>
              <p>
                <strong>negroni</strong>  2.5 oz <br/>
                beefeater gin, cinzano rosso, campari  13 <br/>

                <strong>aperol spritz</strong>  1.5 oz <br/>
                aperol, sparkling wine, soda  13 <br/>

                <strong>martini</strong> 2 oz <br/>
                choice of absolut or beefeater  15 <br/>

                <strong>manhattan</strong> 3 oz
                rittenhouse rye, cinzano rosso, angostura bitter  15 <br/>

                <strong>gin & tonic</strong> 1 oz <br/>
                tanqueray, premium tonic 10 <br/>

                <strong>old fashioned</strong>  2 oz <br/>
                old forester bourbon, sugar, angostura  15 <br/>

                <strong>daiquiri</strong> 1.5 oz <br/>
                havana club 3yr, lime, sugar  13 <br/>
              </p> <br/>

              <h3>House Favourites</h3>
              <p>
                <strong>dr. bonnie’s circuit breaker</strong> 2.5 oz<br/>
                bartender’s choice  18<br/>

                <strong>hotel georgia</strong>  1.5 oz<br/>
                beefeater gin, lemon, orgeat, orange blossom, egg white  16<br/>

                <strong>pink elephant</strong> 2 oz<br/>
                absolut vodka, odd society cassis, raspberry, rose, lemon, egg white  16<br/>
              </p> <br/>

              <h3>Zero Proof Cocktails</h3>
              <p>
                <strong>provence iced tea</strong><br/>
                tahitian vanilla, okanagan lavender, assam cold brew  7<br/>

                <strong>thai lemonade</strong><br/>
                cilantro, fresh lime, almond syrup, ginger beer  7<br/>

                <strong>yuzu iced tea</strong><br/>
                pomegranate, honey, yuzu, hathikuli estate cold brew  7<br/>
              </p> <br/>

            </div>
            <div class="col-12 col-md-6">
              <img src="../images/banners/cocktails.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/cocktails1.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/cocktails2.jpg" class="mt-4" alt="kitchen image" width="100%">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



<%- include ('../partials/footer') %>