<%- include ('../partials/header') %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container">
        <div><a style="text-decoration: none;" href="./dining"> YORK ROOM </a></div>
        <div><a style="text-decoration: none;" href="./bel-cafe"> BEL CAFE </a></div>
        <div><a style="text-decoration: none;" href="./deposit"> DEPOSIT </a></div>
        <i class="fas fa-utensils fa-5x py-4"></i>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <div class="container-fluid" id="health">
        <h2>York Room - Private Dining</h2> <hr/>
          <div class="row">
            <div class="col-12 col-md-6">
              <p>
                The York Room at cooksworth Restaurant overlooks the grounds of the Vancouver Art Gallery in the heart of downtown Vancouver and offers one of the city’s most historic and exceptional private dining experiences. Taking its design inspiration from the 1920’s the elegant chandeliers and heritage features merge with modern day technology to create the ideal setting for a range of private events including cocktail receptions, gala dinners, birthdays, anniversaries, business lunches, board meetings and power breakfasts. We are happy to accept groups with maximum capacities of 24 guests.
              </p>

              <p>
                <i>COVID-19 </i> <br/>
                As per the Provincial Health Order, in-person events and gatherings are suspended until February 5th, 2021 at midnight. No gatherings of any size with anyone other than your household or core bubble (immediate household). An immediate household is a group of people who live in the same dwelling. Event is only permitted to gatherings who are hosting a support group meeting, a critical service meeting, a meal provided without charge to people in need, a wedding, a baptism, a funeral, a program for children or youth or occupational training. Funerals, weddings and baptisms may proceed with a maximum of 10 people attend, including the officiant. For more details, please kindly review the Provincial Health Order provided by the Provincial Health Officer (PHO).<br/>

                For more details or to book your next event please contact Natalie Cheung at nc@cooksworthcatering.com 604.605.3325 ext 107
              </p> <br/>

              <h4>Lunch Menu $45/guest</h3>
              <p>
                bread service not included in base menu +$3/person <br/>

                <strong>starter</strong> <br/>
                roasted pemberton sunchoke soup  wild mushroom, crostini <br/>
                or <br/>
                house salad  mixed greens, classic dressing <br/>

                <br/><strong>main:</strong> select two of the following <br/>
                cooksworth classic burger  crispy bacon, onion ring, old cheddar, fries <br/>
                or <br/>
                power bowl  brown rice, avocado, squash, green bean, fermented carrots, charred lime <br/>
                or <br/>
                squash and mushroom cavatelli  oyster mushroom, squash hollandaise, cashew dukkah, sage <br/>

                <br/><strong>dessert</strong> <br/>
                caramel cardamom pot de crème  vanilla bean breton, soft salted caramel, whipped crème fraîche <br/>
              </p> <br/>

              <h4>Dinner Menu $70/guest</h4>
              <p>
                bread service not included in base menu +$3/person <br/>

                <strong>starter</strong>: select two of the following <br/>
                roasted pemberton sunchoke soup  wild mushroom, crostini <br/>
                or <br/>
                winter greens, shaved apple salad  gem lettuce, candied pecan, tarragon, blue cheese dressing <br/>
                or <br/>
                alberta beef steak tartare  hand cut, crispy garlic, potato chip, shallot, cornichon, capers <br/>

                <br/><strong>main:</strong> select two of the following <br/>
                squash and mushroom cavatelli  oyster mushroom, squash hollandaise, cashew dukkah, sage <br/>
                or <br/>
                parmesan crusted chicken breast  parmesan crust, eggplant tortellini, olive, tomato fondue <br/>
                or <br/>
                crispy pork belly & roasted scallop  beetroot & apple purée, cauliflower <br/>

                <br/><strong>dessert</strong> <br/>
                caramel cardamom pot de crème  vanilla bean breton, soft salted caramel, whipped crème fraîche <br/>
              </p> <br/>


              <h4>Dinner Menu $80/guest</h4>
              <p>
                bread service not included in base menu +$3/person <br/>

                chef’s seasonal amuse bouche <br/>
                followed by <br/>

                <strong>starter</strong>: select two of the following <br/>
                winter greens, shaved apple salad  gem lettuce, candied pecan, tarragon, blue cheese dressing <br/>
                or <br/>
                tuna poke  sesame, soy sauce, vegetable noodle salad, taro <br/>
                or <br/>
                alberta beef steak tartare  hand cut, crispy garlic, potato chip, shallot, cornichon, capers <br/>

                <br/><strong>main:</strong> select two of the following <br/>
                squash and mushroom cavatelli  oyster mushroom, squash hollandaise, cashew dukkah, sage <br/>
                or <br/>
                yarrow meadows duck breast  celeriac, wild mushroom, duck jus <br/>
                or <br/>
                crispy pork belly & roasted scallop  beetroot & apple purée, cauliflower <br/>
                or <br/>
                parmesan crusted chicken breast  parmesan crust, eggplant tortellini, olive, tomato fondue <br/>

                <br/><strong>dessert</strong> <br/>
                chocolate and pecan tart  praline, tonka bean ice cream <br/>
              </p> <br/>

              <h4>Dinner Menu $95/guest</h4>
              <p>
                bread service not included in base menu +$3/person <br/>

                chef’s seasonal amuse bouche <br/>
                followed by <br/>

                table snacks to share <br/>
                charcuterie dried cured meat, terrine, pickles, mustard, grilled sourdough <br/>

                <strong>starter</strong>: select two of the following <br/>
                roasted pemberton sunchoke soup  wild mushroom, crostini <br/>
                or <br/>
                winter greens, shaved apple salad  gem lettuce, candied pecan, tarragon, blue <br/> cheese dressing <br/>
                or <br/>
                alberta beef steak tartare  hand cut, crispy garlic, potato chip, shallot, cornichon, capers <br/>

                <br/><strong>main:</strong> select two of the following <br/>
                squash and mushroom cavatelli oyster mushroom, squash hollandaise, cashew dukkah, sage <br/>
                or <br/>
                yarrow meadows duck breast  celeriac, wild mushroom, duck jus <br/>
                or <br/>
                parmesan crusted chicken breast  parmesan crust, eggplant tortellini, olive, tomato fondue <br/>
                or <br/>
                sablefish  dashi broth, shimeji, bok choy, black garlic, crispy onion <br/>

                <br/><strong>dessert</strong> <br/>
                brown sugar pavlova  pear, warm spices, yuzu <br/>

                Prices are exclusive of tax and service charge. All food and beverage is subject to 19% service charge and 5% GST. Menu is subject to change without notice due to seasonality and availability. Allergies and dietary restrictions will be accommodated with advance notice. Coffee and tea is not included.
              </p> <br/>

            </div>
            <div class="col-12 col-md-6">
              <img src="../images/banners/dining.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/dining2.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/dining3.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/dining.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/dining2.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/dining3.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/dining.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/dining2.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/dining3.jpg" class="mt-4" alt="kitchen image" width="100%">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



<%- include ('../partials/footer') %>