<%- include ('../partials/header') %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container">
        <i class="fas fa-utensils fa-5x py-4"></i>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <div class="container-fluid" id="health">
        <h2>Delivery + Pickup</h2> <hr/>
          <div class="row">
            <div class="col-12 col-md-6">
              <i>
                restraunt opens from 8:00 am – 12:00 am
              </i> <br/><br/>

              <p>
                If you’d like delivery, you can order from our partner at DoorDash. If you’d like to place a pickup order, order from our online ordering system.
              </p> <br/>

              <button class="btn btn-dark">Pickup Orders</button>
              <button class="btn btn-dark">Delivery Orders</button> <br/><br/><br/>

              <h4>ADDRESS</h4>
              <p>
                Map<br/>
                801 W Georgia Street<br/>
                Vancouver, BC V6C 1P7<br/>
                Canada<br/>
              </p>

              <div class="card">
                <div class="mapouter">
                  <div class="gmap_canvas">
                    <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=NSIT,%20Delhi&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                  </div>
                </div>
              </div> <br/>

              <strong>Pick-up Hours</strong><br/>
              <strong>Monday:</strong> 8:30am to 11:30pm<br/>
              <strong>Tuesday:</strong> 8:30am to 11:30pm<br/>
              <strong>Wednesday:</strong> 8:30am to 11:30pm<br/>
              <strong>Thursda:</strong> 8:30am to 11:30pm<br/>
              <strong>Friday:</strong> 8:30am to 11:30pm<br/>
              <strong>Saturda:</strong> 8:30am to 11:30pm<br/>
              <strong>Sunday:</strong> 8:30am to 11:30pm<br/> <br/>

              <strong>Contact</strong><br/>
                Phone: (604) 673-7000<br/>
                Email: info@cooksworthrestaurant.com<br/>
              </p>
            </div>
            <div class="col-12 col-md-6">
              <img src="../images/banners/order.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/order2.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/order3.jpg" class="mt-4" alt="kitchen image" width="100%">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<%- include ('../partials/footer') %>