<%- include ('../partials/header') %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container">
        <div><a style="text-decoration: none;" href="./bar"> BAR </a></div>
        <div><a style="text-decoration: none;" href="./wine"> WINE </a></div>
        <div><a style="text-decoration: none;" href="./beer"> BEER </a></div>
        <div><a style="text-decoration: none;" href="./cocktails"> COCKTAILS </a></div>
        <i class="fas fa-utensils fa-5x py-4"></i>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <div class="container-fluid" id="health">
        <h2>Our Wine Program</h2> <hr/>
          <div class="row">
            <div class="col-12 col-md-6">
              <i>
                from 8:00 pm – 12:00 pm
                Seating is available at a first come
              </i> <br/><br/>
              <p>
                The wine program at Cooksworth Restaurant is a vibrant reflection of the seasonality of the cuisine; our fluid, fun and approachable wine selection is guided by the creativity of the kitchen with an eye to offering quality and value. Our wine sommeliers are highly trained to deliver tailored professional service without pretense, to enhance the guest experience by guiding towards tried and true favourites or to lead towards new discoveries from lesser known, hand-picked family run boutique wineries. <br/>

                Click here for our Sommelier Selection list.  
              </p> <br/>

            </div>
            <div class="col-12 col-md-6">
              <img src="../images/banners/wine1.jpg" class="mt-4" alt="kitchen image" width="100%">
              <img src="../images/banners/wine2.jpg" class="mt-4" alt="kitchen image" width="100%">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



<%- include ('../partials/footer') %>