<%- include ('../partials/header') %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container">
        <div><a style="text-decoration: none;" href="./health-safety"> HEALTH & SAFETY </a></div>
        <div><a style="text-decoration: none;" href="./our-peoples"> OUR PEOPLE </a></div>
        <div><a style="text-decoration: none;" href="./community"> OUR COMMUNITY </a></div>
        <div><a style="text-decoration: none;" href="./design"> DESIGN </a></div>
        <div><a style="text-decoration: none;" href="./artists"> FEATURE ARTISTS </a></div>
        <div><a style="text-decoration: none;" href="./gallery"> GALLERY </a></div>
        <div><a style="text-decoration: none;" href="./awards"> AWARDS </a></div>
        <div><a style="text-decoration: none;" href="./contact-us"> CONTACT </a></div>
        <i class="fas fa-utensils fa-5x py-4"></i>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <div class="container-fluid" id="health">
        <h2>OUR ARTISTS</h2> <hr/>
          <div class="row">
            <div class="col-12 col-md-7">
              <h3>Harland Miller</h3>
              <p>
                Once described as ‘London’s coolest man’, Harland Miller is a British writer and artist perhaps most well known for his giant oil canvases of Penguin book covers. Miller received both his BA and MA in art history from the Chelsea College of Art. In 2001, he began a series of paintings based on Penguin classic book dust covers. By utilizing the famous Penguin motif, he found a way to marry aspects of Pop Art, abstraction and figurative painting with his love of text. He continued with his theme, expanding the book covers to include his own phrases, some humorous and absurd, others infused with poetic melancholy. “Too Cool To Die” hangs in Hawksworth Restaurant’s Art Room featuring the ubiquitous penguin and an image of a gun-toting, trench coat clad detective.</p> <br/>

              <h3>Rodney Graham</h3>
              <p>
                A custom installation by BC-born Rodney Graham offers an eye-catching focal point to Hawksworth Restaurant. A well established artist Graham’s work can be found in numerous major private and public collections in North America and in Europe including the Museum of Modern Art in New York City. He has received many honours including being selected to represent Canada in the prestigious Venice Biennale in 1997. He also received an honourary Doctorate from the Emily Carr Institute of Art and Design in 2002. Graham lives and works in Vancouver.
              </p>
              <p>
                In 2013 Chef Cooksworth started his own non-profit foundation, the Cooksworth Young Chef Scholarship. The scholarship program was created to recognize and inspire young Canadian chefs, whilst promoting professionalism and culinary excellence within the hospitality industry. Through its annual national competition, the scholarship program provides a platform for talented young chefs to get a head start with an unparalleled opportunity to work in the country’s leading restaurants. The winner of the Cooksworth Young Chef Scholarship will receive $10,000 and a stage at a top international restaurant – giving them the inspiration and opportunity needed to develop their professional skills.
              </p>
            </div>
            <div class="col-12 col-md-5">
              <img src="../images/banners/artist.jpg" alt="kitchen image" width="100%">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>











<%- include ('../partials/footer') %>