<%- include ('../partials/header') %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container">
        <div><a style="text-decoration: none;" href="./health-safety"> HEALTH & SAFETY </a></div>
        <div><a style="text-decoration: none;" href="./our-peoples"> OUR PEOPLE </a></div>
        <div><a style="text-decoration: none;" href="./community"> OUR COMMUNITY </a></div>
        <div><a style="text-decoration: none;" href="./design"> DESIGN </a></div>
        <div><a style="text-decoration: none;" href="./artists"> FEATURE ARTISTS </a></div>
        <div><a style="text-decoration: none;" href="./gallery"> GALLERY </a></div>
        <div><a style="text-decoration: none;" href="./awards"> AWARDS </a></div>
        <div><a style="text-decoration: none;" href="./contact-us"> CONTACT </a></div>
        <i class="fas fa-utensils fa-5x py-4"></i>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <div class="container-fluid" id="health">
        <h2>OUR COMMUNITY</h2> <hr/>
          <div class="row">
            <div class="col-12 col-md-7">
              <p>
                The team at Cooksworth Restaurant feels very strongly about contributing to the local community and giving back to the people and establishments that make Vancouver a better place. For consideration, please submit requests to: info@Cooksworthrestaurant.com and we will endeavor to help where we can.
              </p>
              <p>
                Since 2006, Chef Cooksworth has donated his time to support the annual Fishing for Kids Tournament at the West Coast Fishing Club benefitting the Canucks Autism Network and BC Children’s Hospital; our mandate is to support only local charities that help our community.
              </p>
              <p>
                In 2013 Chef Cooksworth started his own non-profit foundation, the Cooksworth Young Chef Scholarship. The scholarship program was created to recognize and inspire young Canadian chefs, whilst promoting professionalism and culinary excellence within the hospitality industry. Through its annual national competition, the scholarship program provides a platform for talented young chefs to get a head start with an unparalleled opportunity to work in the country’s leading restaurants. The winner of the Cooksworth Young Chef Scholarship will receive $10,000 and a stage at a top international restaurant – giving them the inspiration and opportunity needed to develop their professional skills.
              </p>
            </div>
            <div class="col-12 col-md-5">
              <img src="../images/banners/cook.jpg" alt="kitchen image" width="100%">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>