<%- include ('../partials/header') %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container">
        <div><a style="text-decoration: none;" href="./health-safety"> HEALTH & SAFETY </a></div>
        <div><a style="text-decoration: none;" href="./our-peoples"> OUR PEOPLE </a></div>
        <div><a style="text-decoration: none;" href="./community"> OUR COMMUNITY </a></div>
        <div><a style="text-decoration: none;" href="./design"> DESIGN </a></div>
        <div><a style="text-decoration: none;" href="./artists"> FEATURE ARTISTS </a></div>
        <div><a style="text-decoration: none;" href="./gallery"> GALLERY </a></div>
        <div><a style="text-decoration: none;" href="./awards"> AWARDS </a></div>
        <div><a style="text-decoration: none;" href="./contact-us"> CONTACT </a></div>
        <i class="fas fa-utensils fa-5x py-4"></i>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <div class="container-fluid" id="health">
        <h2>OUR DESIGNERS</h2> <hr/>
          <div class="row">
            <div class="col-12 col-md-7">
              <p>
                Created by Alessandro Munge of the celebrated Canadian interior design firm Munge & Leung, Hawksworth’s James Beard Foundation Award nominated four distinct rooms include the leather-paneled Bar & Lounge, clubby and intimate; the glamorous Pearl Room, elegant and iridescent with pearl banquettes and a magnificent chandelier; the compelling and vibrant Art Room featuring a custom installation by acclaimed local artist Rodney Graham, and the first floor York Room inspired by its 1920’s heritage where original features meet modern technology and huge arc windows. This veritable chameleon of a restaurant delivers a range dining experiences suited to a variety of moods or occasions.
              </p>
            </div>
            <div class="col-12 col-md-5">
              <img src="../images/banners/design.jpg" class="mb-3" alt="kitchen image" width="100%">
              <img src="../images/banners/design2.jpg" alt="kitchen image" width="100%">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<%- include ('../partials/footer') %>