<%- include ('../partials/header') %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container">
        <div><a style="text-decoration: none;" href="./health-safety"> HEALTH & SAFETY </a></div>
        <div><a style="text-decoration: none;" href="./our-peoples"> OUR PEOPLE </a></div>
        <div><a style="text-decoration: none;" href="./community"> OUR COMMUNITY </a></div>
        <div><a style="text-decoration: none;" href="./design"> DESIGN </a></div>
        <div><a style="text-decoration: none;" href="./artists"> FEATURE ARTISTS </a></div>
        <div><a style="text-decoration: none;" href="./gallery"> GALLERY </a></div>
        <div><a style="text-decoration: none;" href="./awards"> AWARDS </a></div>
        <div><a style="text-decoration: none;" href="./contact-us"> CONTACT </a></div>
        <i class="fas fa-utensils fa-5x py-4"></i>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-6">
      <div class="container" id="health">
        <h2>HEALTH & SAFETY</h2> <hr/>
        <h3>Our Commitment to Safety + Wellbeing</h3>
        <p>We continue to closely monitor industry-leading health and safety recommendations and are doing everything we can to ensure the safety of our teams, our community and you. Here are some of the steps we are currently taking:</p> <br/>

        <h4>Guest Reservations + Protocol:</h4>
        <p>Reservations are strongly recommended, since we are only currently operating at 50% capacity.
        The maximum number of guests to be seated in one party is 6.
        Tables in the dining room are spaced a minimum of 2 meters apart in all directions.
        Bar stools and high-top tables have been appropriately spaced in the bar area.</p> <br/>

        <h4>Hygiene + Cleaning Standards:</h4>
        <p>Our entire restaurant is thoroughly sanitized, deep cleaned, and disinfected on a nightly basis.
        Guest bathrooms and other ‘high touch’ areas are monitored and sanitized every 30 minutes.
        All tables and chairs are wiped down between use with high-grade government-approved disinfectant.
        Our staff are required to wear protective face masks during service.
        Approved hand sanitizer stations are available at the front door and throughout the restaurant for guests to use.</p> <br/>

        <h4>Prevention + Physical Distancing Measures:</h4>
        <p>Our staff are required to have temperature checks daily before each shift.
        Our staff are committed to daily health declarations indicating they are symptom free.
        Plastic shields and plexiglass dividers have been installed to protect staff and guests.
        Floor markers have been applied to assist in the flow of foot traffic and ensure appropriate physical distancing.
        Operating procedures have been revised to fully comply with directives issued by Worksafe BC and the BC Provincial Health Office.</p> <br/>
      </div>
    </div>
  </div>
</div>


<%- include ('../partials/footer') %>